<section>

</div><h2> {{title}} </h2>
<div ng-init="loadForm()">
    <form class="form-horizontal" name="myForm" id="frm">
        <input type="hidden" ng-model="pedido._id" name="_id">

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nome">Nome</label>
            <div class="col-md-4">
                <input id="cadastro-nome" name="nome" ng-model="pedido.nome" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="endereco">Endereço</label>
            <div class="col-md-4">
                <input id="cadastro-endereco" name="endereco" ng-model="pedido.endereco" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">E-mail</label>
            <div class="col-md-4">
                <input id="cadastro-email" name="email" ng-model="pedido.email" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="page-header">
                        <h1>Peças</h1>
                    </div>
                </div>
                <!-- Table -->
                <table class="table" id="listagem-produtos">
                    <thead>
                        <tr>
                            <th>Peça</th>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <!-- Button -->
                <div class="control-group">
                    <div class="controls">
                        <label class="control-label" for="cadastro-adicionar"></label>
                        <button id="cadastro-adicionar" onclick="addLine()" type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar peça</button>

                    </div>
                </div>



                </br>
            </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="endereco">Total</label>
            <div class="col-md-4">
                <input type="text" ng-model="pedido.total" id="pedido-total" name="total" placeholder="Total" disabled class="form-control input-md">

            </div>
        </div>

    </form>
    <!-- Button (Double) -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="salvar"></label>
        <div class="col-md-8">
            <button id="salvar" name="salvar" class="btn btn-primary" onclick="incluir()" ng-disabled="myForm.$invalid">Salvar</button>
            <a href="#/">
                <button id="cancelar" name="cancelar" class="btn btn-danger">Cancelar</button>
            </a>
        </div>
    </div>

</div>
</section>
