<!DOCTYPE>


<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-1.10.2.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>

<style>
body{
background:#ddd;
}

#Painel{
width:800px;
height:600px;
margin:0 auto;
box-shadow:0 2px 3px #ccc;
border:1px solid white;
border-radius:5px;
padding:30px;
background:white;
   display: table;
}

form{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 1px 2px #CCCCCC inset;
    padding:15px;
}

thead td{ border-radius:3px; padding:0 5px;}

span{
cursor:pointer;
}

</style>


</head>

<body>


<div id="painel">

<h1>Formulário de Produtos</h1>

<form role="form" onsubmit="incluir()">
  <div class="form-group">
   <input type="text" class="form-control" name="produto.id" id="id" placeholder="Id" disabled>
  </div>
  <div class="form-group">
   <input type="text" class="form-control" name="produto.nome" id="nome" placeholder="Nome">
  </div>
  <div class="form-group">
   <input type="text" class="form-control" name="produto.descricao"  id="descricao" placeholder="Descricao">
  </div>
<div class="form-group">
   <input type="text" class="form-control" name="produto.quantidade"  id="quantidade" placeholder="Quantidade">
</div>
<div class="form-group">
   <input type="text" class="form-control" name="produto.valor" id="valor" placeholder="Valor">
</div>

  <button type="button" class="btn btn-primary" id="adicionar">Salvar</button>
</form>
   





<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Produtos</h3>
  </div>
  <div class="panel-body">
 
	    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Quantidade</td>
                <td>Valor</td>
            </tr>
        </thead>
        <tbody>
            <tr>
               	
            </tr>
        </tbody>
    </table>
 
  </div>
</div>

    
</div>

	
	
<script>

    $(document).ready(function () {

        $(window).bind("load", function () {
            consultar();
        });

         $("#adicionar").click(function () {
             
            var id = $('#id').val();

            if( id != ""){
                alterar(id);
            } else {
                incluir();
            }

        });

    });
    
    function consultar() {

        $.getJSON("http://localhost:8080/restee/api/produtos", function (data) {
            var items = [];
            $.each(data['Content'], function (key, val) {
                items.push("<tr id='" + val.id + "' >" +
                    "<td>" + val.id + "</td>" +
                    "<td>" + val.nome + "</td>" +
                    "<td>" + val.descricao + "</td>" +
                    "<td>" + val.quantidade + "</td>" +
                    "<td>" + val.valor + "</td>" +
                    "<td><span class=\"editar glyphicon glyphicon-pencil\"></span></td>" +
                    "<td><span class=\"excluir glyphicon glyphicon-remove\"></span></td>" +
                    "</tr>");
            });
            $("tbody").html(items);

            $("span.excluir").on("click", function () {
                var idProduto = $(this).closest("tr").attr("id");
                deletar(idProduto);

            })

            $("span.editar").on("click", function () {

                var idProduto = $(this).closest("tr").attr("id");

                carregar(idProduto);

            })

        });
    }


    function incluir(){
        
        jQuery.ajax({
            type: "GET",
            url: "http://localhost:8080/",
            data: {
                "produto.nome": $('#nome').val(),
                "produto.descricao": $('#descricao').val(),
                "produto.quantidade": $('#quantidade').val(),
                "produto.valor": $('#valor').val()
            },
            mimeType: "multipart/form-data",
            dataType: "json",
            success: function () {
                alert("Incluido com sucesso.");
                $("input[type=text]").val("");
                consultar();
            }
        });
        

    }


    function deletar(id) {
        
        $.ajax({

            type: "GET",
            url: "http://localhost:8080/restee/api/produtos/delete/" + id,
            //data: dados,  
            mimeType: "multipart/form-data",
            dataType: "json",

            success: function () {
                alert('Excluido com sucesso.');
                $("input[type=text]").val("");
                consultar();
            },

            error: function () {
                alert('Erro ao Excluir');
            }
        });
    }

    function carregar(id){
        
        jQuery.ajax({
            type: "GET",
            url: "http://localhost:8080/restee/api/produtos/"+id,          
            mimeType: "multipart/form-data",
            dataType: "json",
            success: function (data) {
                var produto = data['Content'];
                
                $('#nome').val(produto.nome);
                $('#id').val(produto.id);
                $('#descricao').val(produto.descricao);
                $('#quantidade').val(produto.quantidade);
                $('#valor').val(produto.valor);
            }
        });

    }
    
    function alterar(id) {
        
        var dados = {
            "produto.nome": $('#nome').val(),
            "produto.descricao": $('#descricao').val(),
            "produto.quantidade": $('#quantidade').val(),
            "produto.valor": $('#valor').val()
        }

        jQuery.ajax({
            type: "POST",
            url: "http://localhost:8080/restee/api/produtos/alterar/" + id,
            data: dados,
            mimeType: "multipart/form-data",
            dataType: "json",
            success: function () {
                alert('Alterado com sucesso!');
                $("input[type=text]").val("");
                consultar();
            },
            error: function(){ 
                alert("Erro!");
            } 
        });
    }

</script>
	

</body>

